aiodns==3.2.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.10
aiosignal==1.3.1
aiosqlite==0.17.0
ansible==11.1.0
ansible-core==2.18.1
anyio==4.7.0
apache-libcloud==3.8.0
apt-listchanges==4.8
apt-xapian-index==0.49
argcomplete==3.5.3
asttokens==2.4.1
async-timeout==5.0.1
attrs==24.2.0
autocommand==2.2.2
babel==2.16.0
base==0.0.0
bcrypt==4.2.0
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.9.0
ccxt==4.4.43
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.8
configparser==7.1.0
contourpy==1.3.1
crit==4.0
cryptography==43.0.0
cssselect==1.2.0
cupshelpers==1.0
cycler==0.12.1
Cython==3.0.11
dbus-python==1.3.2
decorator==5.1.1
Deprecated==1.2.15
distro==1.9.0
dnspython==2.6.1
eventlet==0.39.0
executing==2.1.0
flake8==7.1.1
Flask==2.3.2
Flask-Cors==5.0.0
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.0.3
fonttools==4.55.3
freetype-py==2.5.1
frozenlist==1.5.0
greenlet==3.1.1
gyp-next==0.16.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html5lib-modern==1.2
httpcore==1.0.7
httplib2==0.22.0
httpx==0.27.2
hyperframe==6.0.0
idna==3.8
img2pdf==0.5.1
importlib_metadata==8.5.0
inflect==7.3.1
ipython==8.27.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.0
jaraco.functools==4.1.0
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.3
jmespath==1.0.1
jsonschema==4.20.0
jsonschema-specifications==2024.10.1
keyring==25.6.0
kiwisolver==1.4.8
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
lfm==3.1
libevdev==0.11
libvirt-python==10.10.0
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.0
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.5.0
multidict==6.1.0
nala==0.15.4
netaddr==0.10.1
networkx==3.4.2
ntlm-auth==1.5.0
numpy==1.26.3
oauthlib==3.2.2
OctoBot-Commons==1.9.70
olefile==0.47
onboard==1.4.1
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
parso==0.8.4
passlib==1.7.4
pexpect==4.9.0
pikepdf==9.5.1
pillow==10.4.0
prompt_toolkit==3.0.47
protobuf==4.21.12
proton-core==0.4.0
proton-keyring-linux==0.2.0
proton-vpn-api-core==0.39.0
proton-vpn-gtk-app==4.8.2
proton-vpn-network-manager==0.10.2
psutil==5.9.7
psycopg2==2.9.10
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pure_eval==0.2.3
pycairo==1.26.1
pycares==4.4.0
pycodestyle==2.12.1
pycriu==4.0
pycups==2.0.4
pyflakes==3.2.0
Pygments==2.18.0
PyGObject==3.50.0
PyJWT==2.7.0
pykerberos==1.1.14
PyNaCl==1.5.0
pyOpenSSL==24.3.0
pyparsing==3.1.2
PyQt5==5.15.11
PyQt5_sip==12.16.1
pysmbc==1.0.25.1
PySocks==1.7.1
python-apt==2.9.6+b1
python-dateutil==2.9.0.post0
python-debian==0.1.49
python-debianbts==4.1.1
python-dotenv==1.0.1
python-engineio==4.11.2
python-gnupg==0.5.2
python-socketio==5.12.1
pytz==2024.2
pyudev==0.24.3
pywinrm==0.5.0
PyYAML==6.0.2
referencing==0.35.1
reportbug==13.0.2
reportlab==4.2.5
requests==2.32.3
requests-ntlm==1.1.0
resolvelib==1.1.0
rich==13.9.4
rlPyCairo==0.3.0
rpds-py==0.22.3
scipy==1.14.1
SecretStorage==3.3.3
selenium==4.27.1
selinux==3.7
sentry-sdk==2.18.0
setuptools==75.6.0
shellingham==1.5.4
simple-websocket==1.1.0
simplejson==3.19.3
six==1.17.0
sniffio==1.3.1
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.38
stack-data==0.6.3
tomli==2.0.1
traitlets==5.14.3
trio-websocket==0.11.1
typeguard==4.4.1
typer==0.13.1
typing_extensions==4.12.2
tzdata==2024.2
ufw==0.36.2
urllib3==2.2.3
wadllib==2.0.0
wcwidth==0.2.13
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.15.0
wsproto==1.2.0
xmltodict==0.13.0
yarl==1.13.1
zipp==3.21.0
