<div
  class="category-block"
  id="category{{ category.id }}"
  draggable="true"
  ondragstart="dragCategory(event, {{ category.id }})"
  ondragover="allowDropCategory(event)"
  ondragenter="highlightCategory(event)"
  ondragleave="removeHighlight(event)"
  ondrop="dropCategory(event, {{ category.id }})"
>
  <div class="card bg-secondary">
    <div class="card-header d-flex justify-content-between align-items-center">
      <a
        data-bs-toggle="collapse"
        href="#collapseCategory{{ category.id }}"
        role="button"
        aria-expanded="true"
        aria-controls="collapseCategory{{ category.id }}"
        class="text-white text-decoration-none col"
      >
        {{ category.name }}
      </a>
      <div class="d-flex align-items-center">
        <!-- Arrow buttons for category position change -->
        <button
          class="btn btn-outline-secondary move-btn"
          id="moveCategory_{{ category.id }}"
          onclick="moveCategory({{ category.id }}, 'up')"
          {%
          if
          outer_loop.first
          %}disabled{%
          endif
          %}
        >
          &#8593;
        </button>
        <button
          class="btn btn-outline-secondary move-btn"
          id="moveCategory_{{ category.id }}"
          onclick="moveCategory({{ category.id }}, 'down')"
          {%
          if
          outer_loop.last
          %}disabled{%
          endif
          %}
        >
          &#8595;
        </button>
        <div class="dropdown">
          <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown">&#x22EE;</button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li>
              <a class="dropdown-item" href="#" onclick="renameCategory({{ category.id }}, '{{ category.name }}')">Zmień nazwę</a>
            </li>
            <li>
              <a class="dropdown-item text-danger" href="#" onclick="deleteCategory({{ category.id }})">Usuń kategorię</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="collapse show" id="collapseCategory{{ category.id }}">
      <div class="card-body" ondragover="allowDrop(event)" ondrop="dropTask(event, {{ category.id }})">
        {% include "partials/_tasks.html" %}
        <!--Task form -->
        <div class="form" id="addTaskForm{{ category.id }}">
          <form
            method="POST"
            action="{{ url_for('tasks.add_task') }}"
            onsubmit="event.preventDefault(); addTask({{ category.id }})"
          >
            <div class="input-group mt-3">
              <input type="hidden" id="category_id_{{ category.id }}" value="{{ category.id }}" />
              <input type="text" id="newTask_{{ category.id }}" class="form-control" placeholder="Dodaj nowe zadanie" required />
              <button class="btn btn-outline-light" type="submit">Dodaj</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
